*{margin: 0;padding: 0;box-sizing: border-box;}
:root{scroll-behavior: smooth;}
body{font-family: 'Oswald', sans-serif;}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto; 
    padding: 60px 0;
}
.header{ /*Fondo del encabezado*/
    height: 100vh;
    background-image: linear-gradient(to top, rgba(2, 255, 255, 0.3) 0%, rgba(0, 4, 255, 0.5) 100%), url(img/Data\ Hosting_Isometric.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}
.head{ /*Texto centrado en encabezado*/
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex; /*coloca uno al lado del otro*/
    justify-content: center;/*centra*/
    align-items: center;
    flex-direction: column;/*uno abajo del otro*/
    color: rgb(36, 252, 108);
}
.menu-navegacion {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}
.resaltar {
    background: rgba(250, 1, 229, 0.5);
    border-radius: 10px;
    padding: 5px 15px;
    overflow:hidden;
    transition: .1s;
}
.menu-navegacion a{
    color: #fff;
    text-decoration: none;
    margin-right: 2%;
} 
.menu-navegacion a:hover {
    text-decoration: underline;
    background:rgba(250, 1, 229, 0.5);
    padding: 0;
    border-radius: 10px;
    box-shadow:0 0 10px rgb(250, 1, 229, 0.5), 0 0 40px #fa01e580, 0 0 80px rgb(5250, 1, 229, 0.5);
    transition-delay: 0.2s;
}
.titulo-head {
    font-size: 60px;
    text-shadow: -5px 5px 0 rgba(0, 4, 255, 0.7);
}
.copy1 {
    font-size: 40px;
    text-shadow: -4px 4px 0 rgba(0, 4, 255, 0.7);
}
.copy{
    font-weight: 300;
    font-size: 25px;
    text-shadow: -3px 3px 0 rgba(0, 4, 255, 0.7);
}

/*Servicios*/
.subtitulo{
    text-align: center;
    font-weight: 700;
    color: #2e009b;
    text-shadow: 0 0 20px rgba(201, 1, 1, 0.397);
    margin-bottom: 40px;
    font-size: 60px;
}
.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-servicio img{
    width: 40%;
}
.checklist-servicio{
    width: 45%;
}
.service{
    margin-bottom: 20px;
}
.n-service{
    margin-bottom: 7px;
    color: #6e50b3;
}
.number{ /*numeros de seccion servicios*/
    display: inline-block;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    width: 30px;
    height: 30px; 
    color: #3fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

/* Galeria pantalla completa */
.container-grid {
    display: grid;
/*    height: 100vh;*/
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "imgg1 imgg2 imgg3 imgg4"
    "imgg5 imgg6 imgg7 imgg8"
    "imgg9 imgg10 imgg11 imgg12"
    "imgg13 imgg14 imgg15 imgg16";
    gap: 5px;
}
.imgg {
    width: 100%;
    height: 100%;
    object-fit: /*cover*/ none;
}
.imgg:hover {
    filter: sepia(70%);
    cursor: pointer;
    transition: filter 1s;
}
.imgg-1 {grid-area: imgg1;}
.imgg-2 {grid-area: imgg2;}
.imgg-3 {grid-area: imgg3;}
.imgg-4 {grid-area: imgg4;}
.imgg-5 {grid-area: imgg5;}
.imgg-6 {grid-area: imgg6;}
.imgg-7 {grid-area: imgg7;}
.imgg-8 {grid-area: imgg8;}
.imgg-9 {grid-area: imgg9;}
.imgg-10 {grid-area: imgg10;}
.imgg-11 {grid-area: imgg11;}
.imgg-12 {grid-area: imgg12;}
.imgg-13 {grid-area: imgg13;}
.imgg-14 {grid-area: imgg14;}
.imgg-15 {grid-area: imgg15;}
.imgg-16 {grid-area: imgg16;}
.container-imgg {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s ease-in;
}
.move {
    transform: translateX(0);
}
.imgg-show {
    height: 80%;
    transform: scale(0);
    display: block;
    object-fit: cover;
    transition: transform .2s .4s;
}
.show {
    transform: scale(1);
}
.copyg {
    position: fixed;
    color: #fff;
    font-size: 45px;
    bottom: 10px;
    z-index: 1000;
}
.bx.bx-x {
    position: absolute;
    color: rgb(245, 222, 179);
    top: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.bx.bx-x:hover{
    width: 70px;
    height: 70px;
}

 /* Footer o pie de pagina */
 footer{
    background: linear-gradient(90deg, rgba(24,12,140,.5) 10%, rgba(194,191,191,.3) 50%, rgba(0,212,255,.8) 100%), url(img/Vealdi.png), transparent;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.1px;
}
.footer-content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-us{
    width: 40%;
    color: #fff;
}
.brand{
    font-weight: 500;
    font-size: 40px;
}
.brand p{
    font-weight: 500;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 33px;
    height: 33px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon:hover{
    background: #fff;
    color: #764ba2;
}
.social-media-icon img{
    font-size: 30px;
    height: 30px;
    align-content: center;
}
.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #0207ff80;
    margin-bottom: 60px;
}
.titulo-final {
    color: rgba(110, 34, 34, 0.781);
    text-align: center;
}

/* Adaptación a diferentes pantallas*/
@media screen and (max-width:800px){
    .menu-navegacion{
        font-size: 1em;
        padding: 20px;
    }
    .titulo-head{
        font-size: 40px;
    }
    .copy1 {
        font-size: 30px;
    }
    .copy{
        font-size: 20px;
    }
    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    .checklist-servicio{
        width: 80%;
    }
    .service{
        margin-bottom: 30px;
    }
    .imgg-show {
        height: 60%;
    }
    .copyg {
        bottom: 20px;
    }
    .bx.bx-x {
        top: 10px;
        font-size: 25px;
    }
    .footer-content{
        justify-content: center;
    }
    .social-media{
        width: 60%;
        justify-content: space-evenly;
        padding: 60px 0px 0px 0px;
    }
    .social-media-icon{
        margin-left: 0;
    }
    .social-media img{
        margin-left: 0;
    }
    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
    .line{
        margin-bottom: 20px ;
    }
}

@media screen and (max-width:500px){
   
    .hamburguer{
        top: 20px;
        right: 20px;
    }
    .titulo{
        font-size: 30px;
    }
    .contenedor-servicio img{
        width: 60%;
    }
    .social-media{
        width: 60%;
    }
    .contact-us{
        width: 90%;
    }
    .imgg-show {
        height: 50%;
    }
    .copyg {
        bottom: 50px;
    }
    .bx.bx-x {
        top: 10px;
        font-size: 20px;
    }
}